<h1>Test Html Erb</h1>
<h2>Hello</h2>
<%= form_for :boy_scout do |f| %>
	<%= f.label :one_li %>
	<%= f.text_field :one_li %>
	<%= f.label :one_li_date %>
	<%= f.text_field :one_li_date %>
	<%= f.label :two_li %>
	<%= f.text_field :two_li %>
	<%= f.label :two_li_date %>
	<%= f.text_field :two_li_date %>
<% end %>